In [ ]:
import pandas as pd

df = pd.read_csv("../data/cleaned_data.csv")

# Solves: Reads CSV 
# Used when: to read CSV files

In [66]:
df.info()

# df.info is used when we need to understand datatypes and data types and columns names

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8582 entries, 0 to 8581
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   trackid           8582 non-null   object
 1   trackname         8582 non-null   object
 2   tracknumber       8582 non-null   int64
 3   trackpopularity   8582 non-null   int64
 4   explicit          8582 non-null   bool
 5   artistname        8579 non-null   object
 6   artistpopularity  8582 non-null   int64
 7   artistfollowers   8582 non-null   int64
 8   artistgenres      8582 non-null   object
 9   albumid           8582 non-null   object
 10  albumname         8582 non-null   object
 11  albumreleasedate  8582 non-null   object
 12  albumtotaltracks  8582 non-null   int64
 13  albumtype         8582 non-null   object
 14  trackdurationmin  8582 non-null   float64
 15  trackid.1         0 non-null      float64
dtypes: bool(1), float64(2), int64(5), object(8)
memory usage: 1014.2+ KB

In [ ]:
df[df["tracknumber"]==20].head()

# Solves: provides trackingnumber equal to 20, only first 5 rows as im using head function at last 
# Used when: looking for specific value

In [ ]:
#AND = & ---- Both conditions must be TRUE
df[ (df["artistpopularity"]>=100) & (df["tracknumber"] == 11) ]

# Solves: provides artistpopularity grater or equeal to 100 and tracknumber equal to 11
# Used when: when we have to get data on multiple condetions

In [ ]:
#OR = | Either condition TRUE
 
df[(df["albumtotaltracks"] ==1) | (df["albumtotaltracks"] ==3) ]
# Solves: provides data that have albumtotaltracks equal to 1 or albumtotaltracks equal to 3
# Used when: we have multple condetion and me need one this to be true and get data

In [ ]:
#filter using multiple values
df[df["trackname"].isin(["OMG!","Iris"]) & (df["albumtotaltracks"] ==3)]
# Solves: isin, we can look for multiple values in a column
# Used when: when we have a list of specific items retrive

In [ ]:
#text filter - worls similer to "Like" in SQL
#df[df["trackname"].str.contains("IRIS",case=False)]

df[df["trackname"].str.contains("avin",case=False)]

# Solves: gives data that matches the string we are provide
# Used when: we dont know complete name or sentace and need realted names or streings

In [ ]:
df[df["trackname"].isin(["Leaving Tonight","Wavin' Flag - Coca-Cola® Celebration Mix"])]

SORTING

In [ ]:
#Sorts the data by the amount column from smallest → largest.
df.sort_values("artistpopularity")
# Solves: provies data in order on specific column 
# Used when: we me need to see data in specific order of a column

In [ ]:
#Sorts the data by amount from largest → smallest.
df.sort_values("artistpopularity",ascending=False).head()
# Solves: proveds data in large to small format 
# Used when: see data in dig to small

In [ ]:
#sort multiple values 
df.sort_values(["tracknumber","artistpopularity"],ascending=[True,False]).head()

# Solves:sorts data based on multiple columns in order thay have 
# Used when: have multiple column to be sorted

GROUPBY

In [ ]:
df.groupby("artistname")["albumname"].count()
# Question answered: tell the total number of alboums per artists 
# Business value: to unserdatnd how meany abloumns been relesed my artist

In [ ]:
df.groupby("albumname")["albumtotaltracks"].sum()

# Question answered: whar are the total number of tracks for all ablumns 
# Business value: helps to understand how meany tracks we ahve per alboumn

In [ ]:
#Multiple Aggregations
df.groupby("artistname")["tracknumber"].agg(["count","min"])

# Question answered: what are total,min tracks of a artist

# Business value: to unerstand number of tracks and min number of tracks

In [ ]:
#Converts the groupby result back to a normal DataFrame instead of a grouped index.
# Makes the result easier to save or visualize.
summery = df.groupby("trackname")["tracknumber"].sum().reset_index()
summery

In [ ]:
summery.to_csv("../data/data2_summery.csv")

In [71]:
df.groupby("artistname")["albumname"].nunique()

#questuin answered : how many unique alboums each artist has relesed
#Business Value : measures artist producativity without double-counting tracks

artistname
$uicideboy$         2
'Ery Noice          1
(((())))            1
*NSYNC              1
-                   1
                   ..
攬佬SKAI ISYOURGOD    1
時瀬高等学校箏曲部           1
桑原まこ                1
梶浦 由記               1
藤澤慶昌                2
Name: albumname, Length: 2547, dtype: int64